@tailwind base;
@tailwind components;
@tailwind utilities;

.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 4px 8px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border-radius: 6px;
  padding: 2px 8px;
}